#login{
  width:100%;background:#2c3e50;
  height: calc(0.5*100vh);
  padding-top: 20%;
}


#usernameEmail,#password{
  width:50%;
  margin-left: 25%;
  margin-bottom: 5%;
}

#loginBtn{
  width:30%;
  margin-top: 5%;
  margin-left: 35%;

}

